<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container-fluid text-white">
    <img src="assets/icon/vzw1-wr.png"  class="imaage-custom">
      <h3 class=" text-center   text-white text-capitalize"> IP packet decoder</h3>
    <div class="navbar-expand pull-right">

      <div id="page-content-wrapper">
        <button appSidebar  #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <!-- <span class="hamb-top"></span> -->
            <i style="font-size:24px" class="fa" (click)="CheckAllOptions()">&#xf013;</i>
      <!-- <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span> -->
        </button>
        
    </div>
      <!-- <i style="font-size:24px" class="fa" ng-click="toggleLeft()">&#xf013;</i> -->
    </div>
  </div>
</nav>



<div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''"  style="float: right;">
  <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div>

  <!-- Sidebar -->
  
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">      
    <h3 class=" text-center  text-capitalize" style="color: black; margin-left: 5%;">Select Protocols</h3>
    











    <!-- <h1>Angular Checkbox List</h1>

    <h3>Options</h3>
    {{options | json}}
    <h3>Selected</h3>
    {{selected | json}}
    <br>
    <h3>List</h3>
    <div *ngFor="let item of options">
      <input type="checkbox" 
      (change)="onChange($event.target.checked, item.name)"
      [checked]="checked(item.name)"
    >
      {{item.name}}
    </div>
    <br>
    {{selected.length}} items selected <br>
    <button (click)="save()">Save</button>
    
    <h3 *ngIf="messages.length != 0">Log</h3>
    <div *ngFor="let item of messages">
    save: {{item}}
    </div> -->






















   <!-- <div *ngFor="let item of options">
      <input type="checkbox" 
      (change)="onChange($event.target.checked, item.name)"
      [checked]="checked(item.name)"
    >
      {{item.name}}
    </div>  -->
 
    <ul  class="nav sidebar-nav" *ngFor ="let checkbox of options" >
      <li class="sidebar-brand">
        <label  class="col-sm-8">{{checkbox.name}}</label>        
        <label class="switch "> 
          <input type="checkbox" [(ngModel)]="checkbox.checked" (change)="onChange($event.target.checked, checkbox.name)"
          [checked]="checked(checkbox.checked,checkbox.name)"
        > <span class="slider round"></span>

          <!-- <input type="checkbox" [(ngModel)]="item.checked" (change)="onChange($event.target.checked, item.name)"
          [checked]="checked(item.checked)"
        > <span class="slider round"></span> -->

          
          <!-- <input type="checkbox" [(ngModel)]="item.checked" (change)="onChange($event.target.checked, item.name)"
          [checked]="checked(item.name,item.checked)" > <span class="slider round"></span>    -->
         
          <!-- <input type="checkbox" [(ngModel)]="item.checked" (change)="onChange($event.target.checked, item.name)"
      [checked]="checked(item.name)"
    > <span class="slider round"></span> -->
        </label>        
      </li>
    </ul> 


    <!-- <ul  class="nav sidebar-nav" *ngFor ="let checkbox of checkboxes" >
      <li class="sidebar-brand">
         <label  class="col-sm-8">{{checkbox.name}}</label>      
        <label class="switch ">   
           <input type="checkbox"  [(ngModel)]="checkbox.checked"    (change)="CheckOptions(checkbox.value,$event.target.checked,checkbox,checkboxes)" > <span class="slider round"></span>         
        </label>       
      </li>
    </ul>     -->

      <div class="row" style="padding: 7px 0px 8px 12px;">
        <div class="col-sm-6">
          <button class=" btn-decode btn btn-primary text-capitalize" (click)="save()">Submit</button>
      </div>
        <!-- <div class="col-sm-6">
            <button class=" btn-decode btn btn-primary text-capitalize" (click)="CheckCheckedOptions()">Submit</button>
        </div>  -->
        <div class="col-sm-6">
            <button class=" btn-decode btn btn-primary text-capitalize">Cancel</button>
        </div>
      </div>
  </nav>
  <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper --> 





