  .navbar-dark .navbar-text {
     /* color: rgba(255,255,255,.5); */
    color: #fff;
}
.imaage-custom{
  // height: 50px;
  padding: 0px;
  width: 100px;
}
.h3, h3 {
  font-size: 1.5rem;
}

.header {
  width:auto;
  min-height: 80px;
  background: rgba(0,0,0,.87)  ;
}

.bg-dark {
 // background-color: rgba(0, 0, 0, 0.87) !important;
 background-color: #fff!important;
 border: 2px solid black;
}

.text-white {
  color: black !important;
}



//////////////////////////////////@extend



/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  //padding-left: 220px;
}

#sidebar-wrapper {
 // z-index: 1000;
  //left: 220px;
  margin-top: -47px;
  //left: 185px;
  width: 0;
  height: 100%;
  //margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
    border: 2px solid;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px;
}
#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 215px;
  height: 571px;
  margin-top: -47px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: inherit;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
  background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
  background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
  background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
  background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  //color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.btn-primary {
  // color: #fff;
  // /* background-color: #007bff; */
  // border-color: rgba(0, 0, 0, 0.87);
  // background-color: rgba(0, 0, 0, 0.87);

  color: black;
    border-color: 2px solid;
    border: 2px solid;
    background-color: #fff;
    height: 34px;
    padding-top: 3px;
}

.sidebar-nav > .sidebar-brand {
  height: 25px;
  font-size: 16px;
   //color: #ddd;
    text-decoration: none;
    //padding: 10px 15px 22px 11px;
    padding: 4px 7px 21px 7px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  //color: white;
  color: rgba(0, 0, 0, 0.87);
  -moz-osx-font-smoothing: grayscale;
}

.hamburger {
//position: fixed;
position: absolute;
top: 20px;  
z-index: 999;
display: block;
width: 32px;
height: 32px;
right: 6px;
//margin-left: 15px;
background: transparent;
//background: white;
border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
outline: none;
}
.hamburger.is-closed:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
position: absolute;
left: 0;
height: 4px;
width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
top: 5px; 
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
top: 50%;
margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
bottom: 5px;  
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
top: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
bottom: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
top: 50%;
margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
-webkit-transform: rotate(45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
-webkit-transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;

}







//////////////////////////////////// TOGGLE ///////////////////////////////

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.87);
  border-color: rgba(0, 0, 0, 0.87);
}

input:checked + .slider {
 // background-color: rgba(0, 0, 0, 0.87);;
 background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.87);;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-toggle{
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -25px;
  display: inline-block;
 // padding: 2px 3px;
  border-radius: 2px;
  background: #fff;
  color: #000;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}

// [data-title]:hover::after {
//   content: '';
//   position: absolute;
//   bottom: -10px;
//   left: 8px;
//   display: inline-block;
//   color: #000;
//   border: 8px solid transparent;	
//   border-bottom: 8px solid #000;
// }