<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container-fluid text-white">
    <!-- <img src="assets/icon/logo.png"  class="imaage-custom" style="height: 38px;"> -->
    <img src="assets/icon/amantya.jpg"  class="imaage-custom">
      <h3 class=" text-center   text-white text-capitalize"> Protocol Decoder</h3>
    <div class="navbar-expand pull-right">
      <div id="page-content-wrapper">
        <button appSidebar  #ref="appSidebar"  type="button"  class="hamburger is-closed " data-toggle="offcanvas">   
          <i style="font-size:29px" class="fa " >&#xf013;</i>        
          <!-- <i style="font-size:29px" class="fa " (click)="CheckAllOptions()">&#xf013;</i> -->
        </button>
    </div>
    </div>
  </div>
</nav>

<div id="wrapper" style="float: right;"  >
<!-- <div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''"  style="float: right;"  > -->
  <!-- <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div> -->
  <!-- Sidebar  *ngIf="protocolDiv==true"-->  
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" > 
    <div>
    <h3 class=" text-center  text-capitalize" style="color: black; margin-left: 5%;"> Protocols 
      <!-- <span class="closebtn" (click)="closeNav()" style="float: right; cursor: pointer; margin-right: -20px;">× </span> -->
    </h3>
   <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>  -->
      <ul  class="nav sidebar-nav" *ngFor ="let checkbox of options" >
      <li class="sidebar-brand">
        <label  class="col-sm-8">{{checkbox.name}}</label>        
        <label class="switch "> 
          <input type="checkbox" [(ngModel)]="checkbox.checked" (change)="onChange($event.target.checked, checkbox.name)"
          [checked]="checked(checkbox.checked,checkbox.name)"
        > <span class="slider round"></span>
        </label>        
      </li>
    </ul> 

      <div class="row" style="padding: 7px 0px 8px 12px;">
        <div class="col-sm-6">
          <button class=" btn-decode btn btn-primary text-capitalize" (click)="save()">Submit</button>          
      </div>
        <div class="col-sm-6">
            <button class=" btn-decode btn btn-primary text-capitalize" (click)="cancel()">Cancel</button>            
        </div>
      </div>
    </div>
  </nav>
  <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper --> 





