 <!-- ****** Header ***** -->
 <app-header> </app-header> 

<section class="main input-form">  
  <form [formGroup]="inputForm" >
    <div class="section text-center">
      <textarea class="inputBox col-md-6 " formControlName="hexDump"  > 
      </textarea>
    </div>
    
    <div class="text-center p-4">
      <p *ngIf="fileMessage" id="noteMultiple" style="font-style: italic;">Your file {{fileName}} has been uploaded successfully!</p>

      <p id="noteMultiple"><span id="asteric">&#42;</span>Multiple hexdumps can be uploaded in a single file separated by new line. <a href="assets/Sample.txt" download class="sampleTxt" >Click Here</a> to download sample file.</p>

      <button type="submit" class="btn-decode btn btn-primary text-capitalize" (click)="decode(inputForm.value)">decode</button>
      <div class="file ml-2 upload btn btn-primary">Upload <input type="file" id="file" #userFile (change)="handleFileInput($event.target.files)"></div>
      <button type="button" class=" btn-decode btn btn-primary text-capitalize" (click)="clearFormData()">Clear</button>
    </div>
  </form>
  <!-- *** Outputbox(A div) for the results *** -->
  <div *ngIf="outputBox" class="container col-md-6 mb-5 mt-5">
    <div class="card">
      <div class="card-body">        
        <!-- ******* Div to display data ********* -->
        <div *ngIf="multiplePacket">
          <div *ngFor="let file of multipleFile | keyvalue:unsorted;let j=index" class="text-capitalize">
            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test'+file.key"></i> 
            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test'+file.key" >Internet Protocol(IP) {{j+1}}</span> <br/>
            <div id="test{{file.key}}" class="collapse" style="transition:  2s;" >
              <div *ngFor ="let ipobj of file.value | keyvalue:unsorted;" >
                <div *ngFor ="let ip of ipobj.value | keyvalue:unsorted;" >
              <ul class="inner_ul">
                <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                 <ul class="inner_ul"><li  *ngIf=" ip.key !== 'Hexdump' && ip.key !== 'IPv6' ">{{ip.key}}: {{ip.value}}</li></ul>
                </ng-template>               

                <div *ngIf="ip.key == 'TCP' || ip.key == 'UDP' || ip.key == 'SCTP'|| ip.key == 'ICMP' ;else other_content" >
                  <p class="customParagraph" >
                    <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j" style="transition:  2s;" >
                    </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j">                      
                      <span *ngIf="ip.key == 'TCP'">Transmission Control Protocol(TCP) </span>
                      <span *ngIf="ip.key == 'UDP'">User Datagram Protocol(UDP) </span>
                      <span *ngIf="ip.key == 'SCTP'">Stream Control Transmission Protocol (SCTP) </span>
                      <span *ngIf="ip.key == 'ICMP'">Internet Control Message Protocol (ICMP) </span>                                           
                    </span>
                  </p>

                  <ul id="demo_@4{{file.key}}{{j}}" class="collapse inner_ul" style="transition:  2s;">
                    <div *ngFor ="let tcp of ip.value | keyvalue :unsorted;let k=index ">                        
                      <div *ngIf="tcp.key == 'HTTP'; else tcpContent">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@6'+file.key+j+k"  > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@6'+file.key+j+k">HTTP packet </span>
                        <ul id="demo_@6{{file.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                          <li *ngFor="let htp of tcp.value | keyvalue:unsorted;"> {{htp.key}} : {{htp.value}} </li>
                        </ul>
                      </div>
 <!-- ********** SMTP ******* -->                                          
                      <div *ngIf="tcp.key == 'SMTP'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@7'+file.key+j+k"    > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@7'+file.key+j+k" >Simple Mail Transfer Protocol(SMTP) </span>
                        <ul id="demo_@7{{file.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">                          
                          <span *ngFor="let smtpobj of tcp.value ">
                            <li *ngFor="let smtp of smtpobj | keyvalue:unsorted;"> {{smtp.key}} : {{smtp.value}} </li>
                          </span>
                        </ul>
                      </div>
<!-- ********** RTP ******* -->
                      <div *ngIf="tcp.key == 'RTP'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@rtp'+file.key+j+k"    > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@rtp'+file.key+j+k" >Real Time Protocol(RTP) </span>
                        <ul id="demo_@rtp{{file.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">                          
                          <span *ngFor="let rtpobj of tcp.value | keyvalue:unsorted;">
                            <li > {{rtpobj.key}} : {{rtpobj.value}} </li>
                          </span>
                        </ul>
                      </div>
  <!-- ********** FTP ******* -->
                      <div *ngIf="tcp.key == 'FTP'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demoFile_@7'+file.key+j+k"> </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demoFile_@7'+file.key+j+k">File Transfer Protocol(FTP) </span>
                        <div id="demoFile_@7{{file.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                          <ul *ngFor="let fileobj of tcp.value| keyvalue:unsorted; let l=index "> 
                          <span><i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_ftp'+fileobj.key+file.key+j+k+l"></i> 
                          <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#test_ftp'+fileobj.key+file.key+j+k+l" >{{fileobj.value.Line}}</span> <br>
                          </span>                              
                            <div id="test_ftp{{fileobj.key}}{{file.key}}{{j}}{{k}}{{l}}" class="collapse" style="transition:  2s;" >
                               <ul *ngFor="let fileData of fileobj.value | keyvalue:unsorted;">
                                 <li  *ngIf="file.key !== 'Line'"> {{fileData.key}} : {{fileData.value}} </li>
                                </ul>
                            </div>
                          </ul>
                        </div>
                      </div>
<!-- ********** SIP ******* -->
                      <div *ngIf="tcp.key == 'SIP'">
                          <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@Sip'+file.key+tcp.key+j+k" > </i>
                          <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@Sip'+file.key+tcp.key+j+k">Session Initiation Protocol(SIP) </span>
                          <ul id="demo_@Sip{{file.key}}{{tcp.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                            <span >
                              <div *ngFor="let sip_list of  tcp.value | keyvalue:unsorted;let ks=index" class="text-capitalize">
                                              
                                  <div *ngFor ="let sip of sip_list.value | keyvalue:unsorted;let km=index" >
                                    <li *ngIf="sip.key !== 'Message Header' && sip.key !== 'Message Body'">{{sip.key}}: {{sip.value}}</li>
                                    <div *ngIf="sip.key == 'Message Header'" >
                                      <p *ngIf="sip.key == 'Message Header'">
                                        <i class="fa fa-caret-right m-2" data-toggle="collapse"   [attr.data-target]="'#demo_@msgheader'+sip_list.key+sip.key+j+k+ks+km" style="transition:  2s;" >
                                        </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@msgheader'+sip_list.key+sip.key+j+k+ks+km">Message Header </span>
                                      </p>
                                      <div id="demo_@msgheader{{sip_list.key}}{{sip.key}}{{j}}{{k}}{{ks}}{{km}}" class="collapse" data-target="#demo_@msgheader" style="transition:  2s;">
                                        <div *ngFor ="let msgHeader of sip.value | keyvalue:unsorted;">
                                          <ul >
                                            <li style="list-style-type: circle;">{{msgHeader.value}}</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngIf="sip.key == 'Message Body'" >
                                        <p *ngIf="sip.key == 'Message Body'">
                                          <i class="fa fa-caret-right m-2" data-toggle="collapse" style="transition:  2s;"  [attr.data-target]="'#demo_@msgBody'+sip.key+k+j+ks+km" >
                                          </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@msgBody'+sip.key+k+j+ks+km">Message Body </span>
                                        </p>
                                        <div id="demo_@msgBody{{sip.key}}{{k}}{{j}}{{ks}}{{km}}" class="collapse" data-target="#demo_@msgBody" style="transition:  2s;">
                                          <div *ngFor ="let msgBody of sip.value | keyvalue:unsorted;">
                                            <div *ngFor ="let msg of msgBody.value | keyvalue:unsorted;">                        
                                                <ul >
                                                  <li style="list-style-type: circle;">{{msg.key}}:{{msg.value}}</li>
                                                </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </span>
                          </ul>
                        </div>
<!-- ********** TLS ******* -->
                      <div *ngIf="tcp.key == 'TLS'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j+k"   > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j+k">Transport Layer Security(TLS) </span>
                        <ul id="demo_@tls{{tcp.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                          <span >
                            <div *ngFor="let tls_list of  tcp.value | keyvalue;let k=index" class="text-capitalize">
                              <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_tls'+tls_list.key+j"></i> 
                              <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test_tls'+tls_list.key+j" >TLS Record Layer: {{ tls_list.value['Content Type']}} Protocol</span> <br/>
                              <div id="test_tls{{tls_list.key}}{{j}}" class="collapse" style="transition:  2s;" >

                                <ul *ngFor ="let ip1 of tls_list.value | keyvalue:unsorted; let p=index" >
                                  <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                                    <li >{{ip1.key}}: {{ip1.value}}</li>
                                  </ng-template>
                                  <div *ngIf="ip1.key == 'Handshake Protocol';else other_content" >
                                    <p *ngIf="ip1.key == 'Handshake Protocol'">
                                      <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k"style="transition:  2s;" >
                                      </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k">Handshake Protocol </span>
                                    </p>
                                    <div id="ipp{{ip1.key}}{{j}}{{k}}" class="collapse" data-target="#demo_@ext" style="transition:  2s;">
                                      <ul *ngFor ="let tcp of ip1.value | keyvalue:unsorted;">
                                        <div *ngIf="tcp.key == 'Extension' else tlsContent ">
                                          <div *ngFor="let extobj of tcp.value | keyvalue;let i=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#ext'+extobj.key+j"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#ext'+extobj.key+j" >Extension: {{extobj.value.Type}}</span> <br/>
                                            <ul id="ext{{extobj.key}}{{j}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let ex of extobj.value | keyvalue;" >{{ex.key}}: {{ex.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <div *ngIf="tcp.key == 'Compression Methods' ">
                                          <div *ngFor="let cmpobj of tcp.value | keyvalue;let k=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#cmp'+cmpobj.key+j"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#cmp'+cmpobj.key+j" >Compression Methods ({{k+1}}&nbsp;method)</span> <br/>
                                            <ul id="cmp{{cmpobj.key}}{{j}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let cmobj of cmpobj.value | keyvalue:unsorted;" >{{cmobj.key}}: {{cmobj.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <ng-template #tlsContent id="demo_@5" class="collapse" style="transition:  2s;">
                                          <li *ngIf="tcp.key !== 'Compression Methods' "   >{{tcp.key}}:{{tcp.value}}</li>   
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </ul>
                              </div>
                            </div>
                          </span>
                        </ul>
                      </div>

<!-- DTLS Start -->
                      <div *ngIf="tcp.key == 'DTLS'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse"  [attr.data-target]="'#demo_@tls'+tcp.key+j"  > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j">Datagram Transport Layer Security(DTLS) </span>
                        <ul id="demo_@tls{{tcp.key}}{{j}}" class="collapse" style="transition:  2s;">
                          <span >
                            <div *ngFor="let tls_list of  tcp.value | keyvalue:unsorted;let k=index" class="text-capitalize">
                              <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_tls'+tls_list.key+j"></i> 
                              <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test_tls'+tls_list.key+j" >DTLS Record Layer: {{ tls_list.value['DTLS Content Type']}} Protocol</span> <br/>
                              <div id="test_tls{{tls_list.key}}{{j}}" class="collapse" style="transition:  2s;" >
                                <ul *ngFor ="let ip1 of tls_list.value | keyvalue:unsorted;" >
                                  <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                                    <li  *ngIf="ip1.key !== 'Random'">{{ip1.key}}: {{ip1.value}}</li>
                                  </ng-template>
                                  <div *ngIf="ip1.key == 'Handshake';else other_content" >
                                    <p *ngIf="ip1.key == 'Handshake'">
                                      <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k" style="transition:  2s;" >
                                      </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k">Handshake Protocol </span>
                                    </p>
                                    <div id="ipp{{ip1.key}}{{j}}{{k}}" class="collapse" data-target="#demo_@ext" style="transition:  2s;">
                                      <ul *ngFor ="let tcp of ip1.value | keyvalue:unsorted;">
                                        <div *ngIf="tcp.key == 'Cipher Suites' ">
                                          <p *ngIf="tcp.key == 'Cipher Suites' ">
                                              <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demo_@cipher" style="transition:  2s;" >
                                              </i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo_@cipher">Cipher Suites</span>
                                          </p>                                          
                                          <ul id="demo_@cipher" *ngFor="let cipherSuits of tcp.value  | keyvalue:unsorted;let i=index" class="text-capitalize collapse" style="transition:  2s;">
                                          <li> {{cipherSuits.value }}</li>                                          
                                          </ul> 
                                        </div> 

                                        <div *ngIf="tcp.key == 'Extension' else tlsContent ">
                                          <div *ngFor="let extobj of tcp.value | keyvalue:unsorted;let i=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#ext'+extobj.key+j"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#ext'+extobj.key+j" >Extension: {{extobj.value.Type}}</span> <br/>
                                            <ul id="ext{{extobj.key}}{{j}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let ex of extobj.value | keyvalue;" >{{ex.key}}: {{ex.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <div *ngIf="tcp.key == 'Compression Methods' ">
                                          <div *ngFor="let cmpobj of tcp.value | keyvalue;let k=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#cmp'+cmpobj.key"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#cmp'+cmpobj.key" >Compression Methods ({{k+1}}&nbsp;method)</span> <br/>
                                            <ul id="cmp{{cmpobj.key}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let cmobj of cmpobj.value | keyvalue:unsorted;" >{{cmobj.key}}: {{cmobj.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <ng-template #tlsContent id="demo_@5" class="collapse" style="transition:  2s;">
                                          <li *ngIf="tcp.key !== 'Compression Methods'&& tcp.key !== 'Extension'&& tcp.key !== 'Cipher Suites' "   >{{tcp.key}}:{{tcp.value}}</li>   
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </ul>
                              </div>
                            </div>
                          </span>
                        </ul>
                      </div>

<!-- DTLS PACKET END -->

<!-- DIAMETER  -->

                <div *ngIf="tcp.key == 'Diameter Protocol'">
                  <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j"  > </i>
                  <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j">Diameter Protocol </span>
                  <ul id="demo_@tls{{tcp.key}}{{j}}" class="collapse" style="transition:  2s;">
                    <span >
                      <div *ngFor="let tls_list of  tcp.value | keyvalue;let ji=index" class="text-capitalize">
                        <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_tls'+tls_list.key+j"></i> 
                        <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test_tls'+tls_list.key+j" >Diameter(Version:{{ tls_list.value['Diameter Version']}})</span> <br/>
                        <div id="test_tls{{tls_list.key}}{{j}}" class="collapse" style="transition:  2s;" >

                          <ul *ngFor ="let ip1 of tls_list.value | keyvalue:unsorted; let p=index" >
                            <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                              <li *ngIf=" ip1.key !== 'AVP flags (Parsed)' && ip1.key !== 'AVPsHexDump'&& ip1.key !== 'nextFragement' ">{{ip1.key}}: {{ip1.value}}</li>
                            </ng-template>
                            <div *ngIf="ip1.key == 'AVP flags (Parsed)' ">
                                  <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#innerFlag'+ip1.key+j+p"></i> 
                                  <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#innerFlag'+ip1.key+j+p" >AVP flags (Parsed)</span> <br/>
                                  <ul id="innerFlag{{ip1.key}}{{j}}{{p}}" class="collapse" style="transition:  2s;" >
                                    <li *ngFor ="let ex of ip1.value | keyvalue:unsorted;" >{{ex.key}}: {{ex.value}} </li>                     
                                  </ul> 
                              </div>
                            <div *ngIf="ip1.key == 'AVPs';else other_content" >
                                <div *ngFor ="let avpObj of ip1.value | keyvalue:unsorted; let avpIndex=index;">
                                  <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#avpId'+j+ji+p+avpIndex"></i> 
                                  <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#avpId'+j+ji+p+avpIndex" >AVPs({{avpObj.value['AVP code']}})</span> <br/>
                                  <div id="avpId{{j}}{{ji}}{{p}}{{avpIndex}}" class="collapse" style="transition:  2s;"> 
                                    <ul *ngFor="let avpInnerObj of avpObj.value | keyvalue:unsorted ;let innerDataIndex=index" class="text-capitalize">

                                      <li *ngIf="avpInnerObj.key !== 'Data' && avpInnerObj.key !== 'AVP flags (Parsed)'&& avpInnerObj.key !== 'AVP Hexdump' && avpInnerObj.key !== 'Data Hexdump' "  >{{avpInnerObj.key}}: {{avpInnerObj.value}} </li> 
                                    <div *ngIf="avpInnerObj.key == 'Data' && avpInnerObj.value !== 'Unknown' ">
                                      <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#innerData'+ji+j+p+avpIndex+innerDataIndex"></i> 
                                      <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#innerData'+ji+j+p+avpIndex+innerDataIndex" >Data({{avpInnerObj.value.attribute}})</span> <br/>
                                      <ul id="innerData{{ji}}{{j}}{{p}}{{avpIndex}}{{innerDataIndex}}" class="collapse" style="transition:  2s;" >
                                      <li *ngFor ="let ex of avpInnerObj.value | keyvalue:unsorted;" >{{ex.key}}: {{ex.value}} </li>                     
                                      </ul> 
                                    </div>
                                    <div *ngIf="avpInnerObj.key == 'AVP flags (Parsed)' ">
                                      <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#innerFlag'+ji+j+p+avpIndex+innerDataIndex"></i> 
                                      <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#innerFlag'+ji+j+p+avpIndex+innerDataIndex" >AVP flags (Parsed)</span> <br/>
                                      <ul id="innerFlag{{ji}}{{j}}{{p}}{{avpIndex}}{{innerDataIndex}}" class="collapse" style="transition:  2s;" >
                                      <li *ngFor ="let ex of avpInnerObj.value | keyvalue:unsorted;" >{{ex.key}}: {{ex.value}} </li>                     
                                      </ul> 
                                    </div>
                                    </ul> 
                                  </div>                                
                                </div>
                              <!-- </div> -->
                            </div>
                          </ul>
                        </div>
                      </div>
                    </span>
                  </ul>
                </div>

<!-- SCTP Optional Parameters  -->
                <div *ngIf = "tcp.key == 'Optional Parameters'"> 
                  <p> <i class="fa fa-caret-right m-2" data-toggle="collapse"[attr.data-target]="'#demo_@optional'+tcp.key+j"  style="transition:  2s;" >
                      </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@optional'+tcp.key+j">Optional Parameters </span>
                  </p>
                  <div id="demo_@optional{{tcp.key}}{{j}}" class="collapse" data-target="#demo_@optional" style="transition:  2s;">                     
                    <div *ngFor="let cmpobj of tcp.value | keyvalue;let ki=index" class="text-capitalize">
                      <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#cmp'+cmpobj.key+tcp.key+j+ki"></i><span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#cmp'+cmpobj.key+tcp.key+j+ki" >Parameter Type: {{cmpobj.value['Parameter Type']}}</span> 
                      <ul id="cmp{{cmpobj.key}}{{tcp.key}}{{j}}{{ki}}" class="collapse" style="transition:  2s;" >
                      <li *ngFor ="let cmobj of cmpobj.value | keyvalue:unsorted;" >{{cmobj.key}}: {{cmobj.value}} </li> 
                      </ul>
                    </div>
                  </div>
                </div>

<!-- ICMP Other Protocol start  -->
            <div *ngIf = "tcp.key == 'Other Protocol'"> 

              <!-- <ul class="inner_ul">                   
                <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#divOther'+j" style="transition: 2s;" ></i>
                  <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#divOther'+j"> 
                  <span >Other Protocol(IP) <br></span>                                                    
                </span>
            </ul> -->

              <!-- <div id="divOther{{j}}">                -->
              <div *ngFor="let cmpobj of tcp.value | keyvalue;let ki=index" class="text-capitalize">
                  <div *ngFor ="let cmobj of cmpobj.value | keyvalue:unsorted; let i_other=index"  class="{{cmobj.key}}">
                    <div class="inner_ul">                   
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@Other'+cmobj.key+j+i_other" style="transition: 2s;" ></i>
                          <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@Other'+cmobj.key+j+i_other"> 
                          <span *ngIf="cmobj.key == 'IP Packet'">Internet Protocol(IP) <br></span>                                                    
                        </span>
                      </div>

                    <ul id="demo_@Other{{cmobj.key}}{{j}}{{i_other}}" class="collapse" style="transition:  2s;">
                      <div *ngFor="let objOther of cmobj.value | keyvalue:unsorted;let other2=index" >
                        <li *ngIf="objOther.key !== 'Hexdump' && objOther.key !== 'IP Packet' && objOther.key !== 'TCP' && objOther.key !== 'UDP' && objOther.key !== 'SCTP' && objOther.key !== 'ICMP'" >{{objOther.key}}: {{objOther.value}} </li>    
                        <p *ngIf="objOther.key == 'IP Packet' || objOther.key == 'TCP'|| objOther.key == 'UDP'|| objOther.key == 'SCTP'|| objOther.key == 'ICMP' ">                   
                          <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@innerOther'+cmobj.key+objOther.key+j+i_other" style="transition: 2s;" ></i>
                          <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@innerOther'+cmobj.key+objOther.key+j+i_other"> 
                              <span *ngIf="objOther.key == 'IP Packet'">Internet Protocol(IP) <br></span> 
                              <span *ngIf="objOther.key == 'TCP'">Transmission Control Protocol(TCP) <br></span>
                              <span *ngIf="objOther.key == 'UDP'">User Datagram Protocol(UDP) <br></span>
                              <span *ngIf="objOther.key == 'SCTP'">Stream Control Transmission Protocol(SCTP) <br></span>
                              <span *ngIf="objOther.key == 'ICMP'">Internet Control Message Protocol(ICMP)  <br></span>                          
                        </span>
                      </p>

                        <div id="demo_@innerOther{{cmobj.key}}{{objOther.key}}{{j}}{{i_other}}" class="collapse" style="transition:  2s;">    
                          <ul *ngFor="let objOtherr of objOther.value | keyvalue:unsorted;let other22=index" >
                            <li>{{objOtherr.key}}: {{objOtherr.value}} </li>                               
                          </ul>  
                      </div> 
                    </div>
                    </ul>
                  </div> 
                </div>
              </div>
              <!-- </div> -->
  <!-- ICMP Other Protocol end -->

              <ng-template #tcpContent id="demo_@5" class="collapse" style="transition:  2s;">                        
                 <ul class="inner_ul"> <li  *ngIf=" tcp.key !== 'SMTP' && tcp.key !== 'TLS'  && tcp.key !== 'RTP' && tcp.key !== 'FTP' && tcp.key !== 'Diameter Protocol'  && tcp.key !== 'DTLS' && tcp.key !== 'Optional Parameters' && tcp.key !== 'SIP' && tcp.key !== 'SIP'  && tcp.key !== 'Other Protocol'    ">{{tcp.key}}:{{tcp.value}}</li>  </ul>                       
              </ng-template>

            </div>
          </ul>
         </div>
         </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center m-3">
      <button type="button" class=" btn-decode  text-capitalize" (click)="downloadJson()">download result</button>     
    </div>

</div> 
</section>
<!-- ****** Footer ***** -->
<app-footer> </app-footer>
